.container {
  position: absolute;
  bottom: 13%;
  right: 2%;
  width: 70%;
  min-height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}

.containerWater {
  color: red;
  position: absolute;
  bottom: 39%;
  right: 1%;
  width: 56%;
  min-height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  font-family: kodchasan;
  border-radius: 20px;
}

.anfibios {
  background-color: #5074b9;
}

.reptiles {
  background-color: #cee4ce;
}
